@tailwind base;
@tailwind components;
@tailwind utilities;


header {
    position: absolute;   
    top: 0;               
    left: 0;              
    right: 0;             
    z-index: 10;          
    background-color: transparent;  
    padding: 40px 0px;     
     
  }
  
  @media (max-width: 768px) {
    header {
      flex-direction: column; 
  }
  }